<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar">
  <!--侧边选择框 -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">    
    <li>
      <span class="glow"></span>
      <a href="/resource/info">
        <i class="icon-tag icon-2x"></i>
        <span style="font-size:15px">软件工程</span>
      </a>
    </li>
    <li>
      <span class="glow"></span>
      <a href="/resource/info">
        <i class="icon-tag icon-2x"></i>
        <span style="font-size:15px">计算机网络基础</span>
      </a>
    </li>
    <li>
      <span class="glow"></span>
      <a href="/resource/info">
        <i class="icon-tag icon-2x"></i>
        <span style="font-size:15px">计算机体系结构</span>
      </a>
    </li>

    <!--
    <li id="resource_search">
      <span class="glow"></span>
      <a href="/resource/search">
        <i class="icon-search icon-2x"></i>
        <span style="font-size:15px">资源搜索</span>
      </a>
    </li>
  -->
  

    <!--  登入为管理员身份则显示这个 -->
    <li class="dark-nav" id="resource_share">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#admin_toggle">
        <i class="icon-user-md icon-2x"></i>
        <span style="font-size:15px">管理员操作<i class="icon-caret-down"></i></span>
      </a>
      <ul id="admin_toggle" class="collapse">            
        <li class="" style="margin:10px;font-size:13px;">
          <a href="/resource/admin_changeinfo"><i class="icon-tag"></i>修改课程信息</a>
        </li>
        <li class="" style="margin:10px;font-size:13px;">
          <a href="/resource/admin_resource"><i class="icon-tag"></i>管理资源</a>
        </li>
        <li class="" style="margin:10px;font-size:13px;">
          <a href="/resource/admin_homework"><i class="icon-tag"></i>批改作业</a>
        </li>
        <li class="" style="margin:10px;font-size:13px;">
          <a href="/resource/admin_feedback"><i class="icon-tag"></i>查看反馈</a>
        </li>

      </ul>
    </li>
   
  </ul>

  <a href="/resource/cloud" style="position:absolute;width:115px;margin-top:100px;margin-left:35px;background-color:#4169E1;border-bottom:5px solid #27408B;border-radius:3px;height:30px;padding:10px;">
    <i class="icon-file icon-2x" style="color:#EBEBEB;"></i>
    <span id="cloud-course" style="font-size:15px;color:#EBEBEB">管理我的云盘</span>
  </a>

  <a href="/resource/search" style="position:absolute;margin-top:175px;width:115px;text-align:center;margin-left:35px;background-color:#4169E1;border-bottom:5px solid #27408B;border-radius:3px;height:30px;padding:10px;">
    <i class="icon-search icon-2x" style="color:#EBEBEB;"></i>
    <span id="cloud-course" style="font-size:15px;color:#EBEBEB">搜索</span>
  </a>
    
</div>

