<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar">
  <!--侧边选择框 -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">
    <li id='personinsert'>
      <span class="glow"></span>
      <a href="personinsert">
        <i class="icon-dashboard icon-2x"></i>
        <span>添加用户</span>
      </a>
    </li>
    <li id='personselect'>
      <span class="glow"></span>
      <a href="personselect">
        <i class="icon-search icon-2x"></i>
        <span>查询用户</span>
      </a>
    </li>
     <li id='persondelete'>
      <span class="glow"></span>
      <a href="persondelete">
        <i class="icon-calendar icon-2x"></i>
        <span>删除用户</span>
      </a>
    </li>
    </li>
    <li id='personmodify'>
      <span class="glow"></span>
      <a href="personmodify">
        <i class="icon-link icon-2x"></i>
        <span>修改用户</span>
      </a>
    </li>
    <li id='courseinsert'>
      <span class="glow"></span>
      <a href="courseinsert">
        <i class="icon-dashboard icon-2x"></i>
        <span>添加课程</span>
      </a>
    </li>
    <li id='courseselect'>
      <span class="glow"></span>
      <a href="courseselect">
        <i class="icon-search icon-2x"></i>
        <span>查询课程</span>
      </a>
    </li>
    <li id='coursedelete'>
      <span class="glow"></span>
      <a href="coursedelete">
        <i class="icon-calendar icon-2x"></i>
        <span>删除课程</span>
      </a>
    </li>
    <li id='coursemodify'>
      <span class="glow"></span>
      <a href="coursemodify">
        <i class="icon-link icon-2x"></i>
        <span>修改课程</span>
      </a>
    </li>
    <li id='personbatch'>
      <span class="glow"></span>
      <a href="personbatch">
        <i class="icon-dashboard icon-2x"></i>
        <span>用户批量</span>
      </a>
    </li>
    <li id='coursebatch'>
      <span class="glow"></span>
      <a href="coursebatch">
        <i class="icon-search icon-2x"></i>
        <span>课程批量</span>
      </a>
    </li>
  </ul>
  </div>
  </div>
</div>
