<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar">
  <!--侧边选择框 -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">
    <li id="probManage">
      <span class="glow"></span>
      <a href="/OnlineTest/teacher">
      <i class="icon-dashboard icon-2x"></i>
        <span>选定课程</span>
      </a>
    </li>
    <li id="probManage">
      <span class="glow"></span>
      <a href="/OnlineTest/probManage">
        <i class="icon-edit icon-2x"></i>
        <span>题库管理</span>
      </a>
    </li>
    <li id="paperManage">
      <span class="glow"></span>
      <a href="/OnlineTest/paperManage">
        <i class="icon-reorder icon-2x"></i>
        <span>试卷管理</span>
      </a>
    </li>
     <li id="analysis">
      <span class="glow"></span>
      <a href="/OnlineTest/statistics">
        <i class="icon-bar-chart icon-2x"></i>
        <span>统计分析</span>
      </a>
    </li>
  </ul>
</div>