<div class="container-fluid">
    <div class="row-fluid">
        <div class="area-top clearfix">
            <div class="pull-left header">
                <h3 class="title"><i class=" icon-briefcase"></i>资源管理系统</h3>
                <h5>管理所有课程的资源</h5>
            </div>
            <div class="pull-right header">
                <form class="fill-up" action="/resource/search" method="post" style="margin-top: 0px;">
                    <label class="input-with-submit">
                        <input type="text" name="query" placeholder="搜索资源" style="margin-top: 8px;height: 36px;width: 250px;font-size: 15px;padding-left: 15px;border-radius: 20px;position: absolute;right: 100px;top:-2px;"/>
                        <button type="submit" class="submit-icon" style="top:12px;right: 140px;zoom:0.8;">
                            <i class="icon-search"></i>
                        </button>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>