<!doctype html>
<html>
<head>
  <% include ../head.html %>
  <style>
  .action-nav-button{
    width: 15%;
  }
  </style>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include ../navbar.html %>
<!-- 侧边框 -->
<% include slide_course.html%>
<script type="text/javascript">

</script>
<!-- 主要内容 -->
<div class="main-content">
    <%include current_title.html %>

<%include resource_bar.html%>


<div class="span10">
    <div class="box">
      <div class="box-header">
        <span class="title">课程资源resource</span>
        <ul class="box-toolbar">
          <li><span class="label label-blue">length</span></li>
        </ul>
      </div>
    <div class="box-content" >
    <table class="table table-normal">
      <thead>
      <tr>
        <td></td>
        <td>资源名称</td>
        <td style="width: 60px">资源类型</td>
        <td style="width: 60px">资源大小</td>
        <td>课程</td>
        <td style="width: 40px"></td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="icon"><i class="icon-file"></i></td>
        <td><a href="#">软件工程ch1</a></td>
        <td><b>pdf</b></td>
        <td><b>1.2M</b></td>
        <td><b>软件工程</b></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default"><i class="icon-download-alt"></i></button>
          </div>
        </td>
      </tr>

      <tr>
        <td class="icon"><i class="icon-file"></i></td>
        <td><a href="#">软件工程ch2</a></td>
        <td><b>pdf</b></td>
        <td><b>1.2M</b></td>
        <td><b>软件工程</b></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default"><i class="icon-download-alt"></i></button>
          </div>
        </td>
      </tr>
            <tr>
        <td class="icon"><i class="icon-file"></i></td>
        <td><a href="#">软件工程ch3</a></td>
        <td><b>pdf</b></td>
        <td><b>1.2M</b></td>
        <td><b>软件工程</b></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default"><i class="icon-download-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>



</div>
</body>
</html>