  <!--big normal buttons-->

<div class="span10" style="margin-left:50px;">
<div class="row">
    <div class="action-nav-normal action-nav-line">
      <div class="row action-nav-row" style="">
        <%  var queryStr = "?cid=" + current_cid; %>
        <div class="col-sm-2 action-nav-button active">
          <a href="/resource/course/data<%= queryStr%>" title="课程资源">
            <i class="icon-folder-open-alt"></i>
            <span>课程资源</span>
          </a>
          <!--<span class="label label-red">14</span>-->
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="/resource/course/homework<%= queryStr%>" title="作业提交">
            <i class="icon-file-alt"></i>
            <span>作业提交</span>
          </a>
          <!--<span class="label label-red">3</span>-->
        </div>

        <!--<div class="col-sm-2 action-nav-button">-->
          <!--<a href="/resource/course/info<%= queryStr%>" title="课程信息">-->
            <!--<i class="icon-info-sign"></i>-->
            <!--<span>课程信息</span>-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-2 action-nav-button">-->
          <!--<a href="/resource/course/feedback<%= queryStr%>" title="反馈信息">-->
            <!--<i class="icon-twitter"></i>-->
            <!--<span>课程反馈</span>-->
          <!--</a>-->
        <!--</div>-->

          <!--<div class="col-sm-2 action-nav-button">-->
              <!--<a data-toggle="modal" href="#modal-share">-->
                  <!--<i class="icon-plus"></i>-->
                  <!--<span>分享资源</span>-->
              <!--</a>-->
          <!--</div>-->

      </div>
    </div>
</div><!-- row -->
</div><!-- span10 -->