<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar">
  <!--侧边选择框 -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">    

    <!--
    <li id="resource_search">
      <span class="glow"></span>
      <a href="/resource/search">
        <i class="icon-search icon-2x"></i>
        <span style="font-size:15px">资源搜索</span>
      </a>
    </li>
  -->
     
  </ul>

  <a href="/resource/course" class="btn btn-info btn-lg" style="position:absolute;width:115px;margin-top:10px;margin-left:35px;margin-bottom:50px;text-align: center;height:30px;padding:10px;">
      <i class="icon-file icon-2x" style="color:white;"></i>
      <span id="cloud-course" style="font-size:15px;color:white;vertical-align: middle;">课程资源</span>
  </a>
</div>
